body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #ea9b9b;
    -webkit-font-smoothing: antialiased;

    margin: 0;
}

* ,
*:before,
*:after{
    box-sizing: border-box; /*ficsated size from margin*/
}

h1, h2, h3, h4, h5, h6 { /*V nih est' vstroeniy otstup mi ego ubiraem*/
    margin: 0;
}

p {
    margin: 0 0 15px;
}


/* Container
======================== */

.container {
    width: 100%;
    max-width:  1170px;
    margin: 0 auto;
}


/* Header
========================*/
.header {
    position: fixed; /*Up all*/

    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: 61px;
    background-color: #ea9b9b;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #515369;
    align-items: center;
    padding: 10px ;
}

.nav {
    display: block;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.nav__link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity .2s linear;
    transition: border .2s linear;
}
.nav__link:hover {
    opacity: 1;
    border-bottom: 1px solid #fff;
}
.header__logo {
    font-size: 35px;
}
.sing_in {
    margin-top: -7px;
    font-size: 16px;;
    margin-left: 25px;
    margin-right: 25px;
    color: #F1E1CC;
    text-decoration: none;

    transition: opacity .2s linear;
    transition: background .2s linear;
    background-color: rgb(234, 182, 155);

    display: block;
    border: 2px solid #F1E1CC;
    padding: 6px 26px;
    border-radius: 30px;
    font-size: 18px;
}
.sing_in:hover {
    background-color: #2199c6;
}


/* Intro
========================*/

.intro {
    display: flex;

    flex-direction: column;
    justify-content: center;
    height: 750px;
    background-image: url(img/intro-bg.jpg) center stretch/ cover;
    padding-top: 100px;

    text-align: center;
}

.intro__title {
    margin: 0 0 30px; /* up right bot left*/
    font-family: 'Open sans' , sans-serif;
    font-size: 65px;
    line-height: 1.1; /*Otstup mejdu strok*/
    color: #fff;
    font-weight: 700;
    text-transform:capitalize;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.intro__subtitle {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 60px;
}


/* Button
========================*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px ; /*up\bot -----left/right*/

    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
    border: 2px solid #F1E1CC;

    text-decoration: none;
    text-transform: capitalize;

    transition: background .2s linear;
}

.btn--red {
    background-color: rgb(234, 182, 155);
}

.btn--red:hover{
    background-color:  #2199c6;
}

/* Pictures
========================*/
.works {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}
.picture {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}
/* Pictures
========================*/
.works {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
}
.picture {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}
/* Contact Us
========================*/
.contact_us {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: #c76565;
    color: white;
    opacity: 0.75;
    font-size: 10px;
    font-weight: 700;
}
.con {
    padding: 0 40px;
    padding-top: 70px
}
.watsup {
    padding: 0 40px;
    padding-top: 50px;
}
/* Features
========================*/
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 200px 0; /*up/bottom -- left/right*/
}
.features__item {
    width: 33.3333%;
    padding: 0 40px;
    margin: 25px 0;

    text-align: center;
}
.features__title {
    font-size: 18px;
}
.features__text {
    margin-top: 30px;
    font-size: 16px;
}
.icon {
    margin-bottom: 25px;
    width: 60px;
    height: 60px;
}

/* Login in
========================*/

.box{
  display: none;
  width: 400px;
  height: 500px;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: black;
  text-align: center;
  border-radius: 20px;
}
.box:target {
    box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
    display: block;
}
.logo{
    font-size: 35px;
    padding-bottom: 50px;
}
.log{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 15px;
  transition: 0.25s;
}

.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.registration {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: #6c7279;
    border-bottom: 1px solid #6c7279;

    transition: .25s;
}
.registration:hover {
    color: white;
    border-bottom: 1px solid white;
}




